{% extends "_base_template.html" %}


{% block body_content %}
    <h1>Add Exchange API Credentials</h1>

    <form method="POST">
        <select name="exchange">
            <option disabled>&lt;choose&gt;</option>
            <option value="coinbase">Coinbase / Coinbase Pro</option>
            <option value="gemini">Gemini</option>
            <option value="paxos">Paxos</option>
        </select>
        <input type="text" name="client_key">
        <input type="password" name="client_secret">

        <input type="submit">
    </form>
{% endblock %}