{% extends "_base_template.html" %}


{% block body_content %}
    <h2>Create DCA Schedule for {{ credential.exchange }} (-{{ credential.client_key_last_six }})</h2>


    <form method="post">
        Market:
        <select name="market_name">
            <option value="BTCUSD">BTCUSD</option>
            <option value="ETHUSD">ETHUSD</option>
        </select><br/>
        <br/>

        Order side:
        <select name="order_side">
            <option value="BUY">buy</option>
            <option value="SELL">sell</option>
        </select><br/>
        <br/>

        Amount:
        <input type="text" name="amount"> <select name="amount_currency">
            <option value="USD">USD</option>
        </select><br/>
        <br/>

        Repeats every:
        <input type="number" name="repeat_duration"> <select name="repeat_timescale">
            <option value="{{ DAYS }}">day(s)</option>
            <option value="{{ HOURS }}">hour(s)</option>
            <option value="{{ MINUTES }}">minute(s)</option>
        </select><br/>
        <br/>

        Starts on:
        (immediately or HH:MM)
        <br/>
        <input type="submit" value="Schedule DCA">
    </form>
{% endblock %}
